<div class="container">

  <div *ngIf="lastAddedId">Last added id: {{ lastAddedId }}<br></div>

    <form (ngSubmit)="onSubmit()">


      <div class="form-group" *ngFor="let question of application.questions; index as i;" [hidden]="question.dependsOn && !question.dependsOn.isFilled()">
        <label for="question{{ i }}">{{ question.name }}</label>  &nbsp;
        <input *ngIf="!question.isBool" type="text" class="form-control" id="question{{ i }}"
               required
               [(ngModel)]="question.answer" name="question[]"
               >

        <input *ngIf="question.isBool" type="checkbox" class="form-control" id="question{{ i }}"
               value="1"
               required
               [(ngModel)]="question.answer" name="question[]"
        >

      </div>

      <button type="submit" class="btn btn-success">Submit</button>
    </form>

  </div>
