<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Lynx Test Task!
  </h1>
</div>
<h2>Fill the application</h2>
<app-form></app-form>

